<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite">

    <!-- Allure listener -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="com.testingAcademy.KatalonTest"/>
            <class name="com.testingAcademy.TTA_bankTest"/>
        </classes>
    </test>

</suite>

