<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation Test Suite">

    <!-- Allure listener -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Automation Tests">
        <classes>
            <class name="com.testingAcademy.SvgProjectTest"/>
        </classes>
    </test>


</suite>

